<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
	
	<bean name="daoProduit" class="fr.afcepf.atod17.vinsurvin.dao.jpa.produit.DaoProduitImpl" />
	
	<bean name="serviceProduit" class="fr.afcepf.atod17.vinsurvin.services.implementations.ServiceProduitImpl">
		<property name="daoProduit" ref="daoProduit" />
		<property name="daoTypeProduit" ref="daoTypeProduit" />
		<property name="daoCategorieProduit" ref="daoCategorieProduit" />
		<property name="daoTVA" ref="daoTVA" />
	</bean>
	
	<bean name="daoCompte" class="fr.afcepf.atod17.vinsurvin.dao.jpa.compte.DaoCompteImpl" />
	
	<bean name="serviceCompte" class="fr.afcepf.atod17.vinsurvin.services.implementations.ServiceCompteImpl">
		<property name="daoCompte" ref="daoCompte" />
	</bean>
	
	<bean name="daoCommande" class="fr.afcepf.atod17.vinsurvin.dao.jpa.commande.DaoCommandeImpl" />
	
	<bean name="serviceCommande" class="fr.afcepf.atod17.vinsurvin.services.implementations.ServiceCommandeImpl">
		<property name="daoCommande" ref="daoCommande" />
		<property name="daoCompte" ref="daoCompte" />
		<property name="daoProduit" ref="daoProduit" />
	</bean>
	
	<bean name="daoTypeProduit" class="fr.afcepf.atod17.vinsurvin.dao.jpa.typeProduit.DaoTypeProduitImpl" />
	
	<bean name="daoCategorieProduit" class="fr.afcepf.atod17.vinsurvin.dao.jpa.categorieProduit.DaoCategorieProduitImpl" />
	
	<bean name="daoTVA" class="fr.afcepf.atod17.vinsurvin.dao.jpa.tva.DaoTVAProduitImpl" />

    <bean name="listeTarifsLivraison" class="fr.afcepf.atod17.vinsurvin.entitybeans.commande.ListeTarifsLivraison" scope="prototype">
		<property name="serviceCommande" ref="serviceCommande" />
	</bean>
</beans>
