<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <!-- Reste de l'application -->
    
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
	
	<bean name="daoProduit" class="fr.afcepf.atod17.vinsurvin.dao.jpa.produit.DaoProduitImpl" />
	
	<bean name="serviceProduit" class="fr.afcepf.atod17.vinsurvin.services.implementations.ServiceProduitImpl">
		<property name="daoProduit" ref="daoProduit" />
		<property name="daoTypeProduit" ref="daoTypeProduit" />
		<property name="daoCategorieProduit" ref="daoCategorieProduit" />
		<property name="daoTVA" ref="daoTVA" />
	</bean>
	
	<bean name="daoCompte" class="fr.afcepf.atod17.vinsurvin.dao.jpa.compte.DaoCompteImpl" />
	
	<bean name="serviceCompte" class="fr.afcepf.atod17.vinsurvin.services.implementations.ServiceCompteImpl">
		<property name="daoCompte" ref="daoCompte" />
	</bean>
	
	<bean name="daoCommande" class="fr.afcepf.atod17.vinsurvin.dao.jpa.commande.DaoCommandeImpl" />
	
	<bean name="serviceCommande" class="fr.afcepf.atod17.vinsurvin.services.implementations.ServiceCommandeImpl">
		<property name="daoCommande" ref="daoCommande" />
		<property name="daoCompte" ref="daoCompte" />
		<property name="daoProduit" ref="daoProduit" />
	</bean>
	
	<bean name="daoTypeProduit" class="fr.afcepf.atod17.vinsurvin.dao.jpa.typeProduit.DaoTypeProduitImpl" />
	
	<bean name="daoCategorieProduit" class="fr.afcepf.atod17.vinsurvin.dao.jpa.categorieProduit.DaoCategorieProduitImpl" />
	
	<bean name="daoTVA" class="fr.afcepf.atod17.vinsurvin.dao.jpa.tva.DaoTVAProduitImpl" />

    <bean name="listeTarifsLivraison" class="fr.afcepf.atod17.vinsurvin.entitybeans.commande.ListeTarifsLivraison" scope="prototype">
		<property name="serviceCommande" ref="serviceCommande" />
	</bean>
    
    
        <!-- WebService controleDeStock -->
    
    <bean id="controleurDeStockService" class="fr.afcepf.atod18.controleDeStock.ws.ControleDeStockService"
        factory-bean="controleurDeStockFactory" factory-method="create" />

    <bean id="controleurDeStockFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="fr.afcepf.atod18.controleDeStock.ws.ControleDeStockService" />
        <property name="address" value="http://localhost:8080/controleDeStock-serveur/ControleDeStock" />
    </bean>
    
    
    <bean name="serviceStock"
        class="fr.afcepf.atod17.vinsurvin.services.implementations.ServiceStockImpl">
        <property name="controleDeStockService" ref="controleurDeStockService" />
        <property name="daoCommande" ref="daoCommande" />
    </bean>
</beans>
