.header-logo {
	width: 20%;
	float: left;
}

.panelRecherche {
	width: 55%;
	float: left;
	font-size: medium !important;
	line-height: 230%;
}

.header_deconnexion {
	float: left;
	width: 100%;
	max-height: 50px;
}

.header_deconnexion div {
	padding: 0em !important;
}

.header_connexion {
	float: left;
	width: 100%;
	max-height: 50px;
}

.header_connexion div {
	padding: 0em !important;
}

.topmenu_button {
	margin-left: 10px;
	height: 33px;
}

.topmenu_button span {
	display: inline !important;
}

.nav {
	float:left;
	width: 100%;
}

.main {
	float: left;
}

.footer {
	float: left;
}

.page {
	float: left;	
}

.logoAndrecherche {
	float:left;
	width: 100%;
}

.recherchePrixInput {
	width:25px;
}

.rechercheMillesime {
	margin-left:14px;
	float:left;
	max-width: 100px;
}

.rechercheRegion {
	height: 27px;
	margin-left:10px;
	max-width: 200px;
	float:left;
}

.rechercheRegion label {
	height:27px;
	padding: 0;
	line-height: 200%;
}

.labelRegion {
	font-weight: bold;
	float: left;
	margin-left:5px;
}

.boutonRechercheMain {
	float:left;
	height:29px;
	margin-left: 3px;
}

.boutonRechercheMain span {
	display: inline !important;
}

.panelResultatProduit {
	width: 100%;
}

.main {
	width: 100%;
}