#newsletterDiv {
	-moz-box-shadow: 7px 7px 5px px #656565;
	-webkit-box-shadow: 7px 7px 5px px #656565;
	-o-box-shadow: 7px 7px 5px px #656565;
	box-shadow: 7px 7px 5px px #656565;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565,
		Direction=135, Strength=5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-color: black;
	border-collapse: collapse;
	width: 550px;
	border-color: black;
	border-collapse: collapse;
	align: center;
}

#newsletterValideDiv {
	-moz-box-shadow: 7px 7px 5px px #656565;
	-webkit-box-shadow: 7px 7px 5px px #656565;
	-o-box-shadow: 7px 7px 5px px #656565;
	box-shadow: 7px 7px 5px px #656565;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565,
		Direction=135, Strength=5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-color: black;
	border-collapse: collapse;
	width: 550px;
	border-color: black;
	border-collapse: collapse;
	align: center;
}