<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://cxf.apache.org/jaxws
                        http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    
    <bean
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:applicationResources.properties</value>
        </property>
    </bean>
    
    <bean id="gestionStockInterneService"
          class="fr.afcepf.atod18.gestionStockInterne.commun.webService.StockInterneService"
          factory-bean="gestionStockInterneFactory" factory-method="create" />
    
    <bean id="gestionStockInterneFactory"
            class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass"
                  value="fr.afcepf.atod18.gestionStockInterne.commun.webService.StockInterneService" />
        <property name="address"
                  value="${gestionStockInterne.adresse}" />
    </bean>
    
    <bean id="commandesFournisseursService"
          class="fr.afcepf.atod18.gestionFournisseur.gestionFournisseurWS.CommandesFournisseursService"
          factory-bean="CommandesFournisseursServiceFactory" factory-method="create" />
    
    <bean id="CommandesFournisseursServiceFactory"
            class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass"
                  value="fr.afcepf.atod18.gestionFournisseur.gestionFournisseurWS.CommandesFournisseursService" />
        <property name="address"
                  value="${gestionFournisseur.adresse}" />
    </bean>
    
    <bean id="controleDeStockService"
          class="fr.afcepf.atod18.controleDeStock.ws.impl.ControleDeStockServiceImpl">
        
    </bean>
    
    <jaxws:endpoint id="controleDeStockServiceEndPoint"
                    implementor="#controleDeStockService"
                    address="/ControleDeStock" />
    
</beans>