/* line 3, ../sass/base.sass */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* line 13, ../sass/base.sass */
body {
	margin: 0;
	padding: 0;
	font: normal 11px/14px Arial, Verdana, sans-serif;
	background: white;
}

/* line 17, ../sass/base.sass */
a {
	color: #333333;
	text-decoration: none;
}
/* line 20, ../sass/base.sass */
a:hover,a:active,a:focus {
	text-decoration: underline;
}

/* line 23, ../sass/base.sass */
input {
	cursor: pointer;
}

/* line 26, ../sass/base.sass */
ol,ul {
	list-style-type: none;
}

/* line 29, ../sass/base.sass */
.invisible {
	position: absolute;
	top: -5000px;
	width: 1px;
	overflow: hidden;
}

/* line 35, ../sass/base.sass */
.clear {
	clear: both;
}

/* line 38, ../sass/base.sass */
.clearfix:before,.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}

/* line 44, ../sass/base.sass */
.clearfix:after {
	clear: both;
}

/* line 47, ../sass/base.sass */
.clearfix {
	zoom: 1;
}

/* line 50, ../sass/base.sass */
#page {
	width: 1024px;
	padding: 0;
	margin: 0 auto;
	border-radius: 0;
}
#page #page_content {
	padding: 0;
}

.error {
	margin: 20px 0 0 0;
	color: #f20000;
	text-align:center;
}

/* line 56, ../sass/base.sass */
.banner {
	border-radius: 0;
	background: black;
}
/* line 59, ../sass/base.sass */
.banner div {
	color: white;
	font-weight: bold;
	background: none;
}
/* line 63, ../sass/base.sass */
.banner label.banner-left {
	float: left;
}
/* line 65, ../sass/base.sass */
.banner label.banner-right {
	float: right;
	text-transform: uppercase;
}

/** HEADER ** */
/* line 70, ../sass/base.sass */
#header {
	height: 70px;
	background: url("../images/bg_header.png") 0 0 no-repeat;
}
/* line 74, ../sass/base.sass */
#header .header-logo a {
	float: left;
}
/* line 76, ../sass/base.sass */
#header .header-logo .logo-one {
	margin: 10px 5px 0 30px;
}

#header .header-logo .logo-two {
	margin: 0 0 0 30px;
	text-decoration: none;
}

#header .header-logo .logo-two img {
	margin: 0 0 0 5px;
}

#header {
	position: relative; 
	padding: 0;
}
#header #header_content {
	padding: 0;
}

#header h1 {
	margin: 0;
}

#header h1 a span { 
	display: inline-block;
	font: bold 16px Arial;
	color: #000;
	margin: 23px 0 0 20px;
	vertical-align: top;
}

#page .header_deconnexion .topmenu_form {
	position: absolute;
	top: 0;
	right: 80px;
	padding: 5px 20px 5px 40px;
	border-radius: 0 0 10px 10px;
	background: #7bc1d6 url("../images/picto_connexion.png") 15px 4px no-repeat;
}

#page .header_deconnexion .topmenu_form .topmenu_button {
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	border: none;
	text-shadow: none;
	box-shadow: none;
	background: #7bc1d6;
}

#page .header_deconnexion .topmenu_button:hover {
	text-decoration: underline;
}

/** NAV ** */
/* line 99, ../sass/base.sass */
#nav {
	height: 40px;
	padding: 0;
	border-radius: 0;
	border-bottom: 1px solid #FFF;
	background: url(../images/bg_nav.png) 0 0 repeat-x;
}

#nav #nav_content { padding: 0;}

/* line 102, ../sass/base.sass */
#nav form {
	padding: 0 31px 0 60px;
}

/* line 104, ../sass/base.sass */
#nav .ui-button {
	padding: 7px;
	color: #2a2a2a;
	font: bold 12px "arial";
	text-transform: uppercase;
	border-top: 0;
	border-bottom: 0;
	border-left: 1px solid #bfe3ee;
	border-right: 0;
	border-radius: 0;
	text-shadow: none;
	box-shadow: none;
	background: none;
}
/* line 117, ../sass/base.sass */
#nav .ui-button:hover,#nav .ui-button.selected {
	color: white;
	background: black;
}
/* line 120, ../sass/base.sass */
#nav .ui-button.ui-button-home {
	width: 20px;
	height: 20px;
	margin: 0 25px;
	border: 0;
	background: url(../images/picto_home.png) 0 0 no-repeat;
}
/* line 124, ../sass/base.sass */
#nav .ui-button.ui-button-home span {
	display: none;
}

/** MAIN ** */
/* line 129, ../sass/base.sass */
#main {
	position: relative;
	padding: 0 20px;
	min-height: 500px;
	border-top: 0px solid white;
	border-bottom: 0px solid #a9c2ca;
	border-radius: 0;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#FFD4F1FA', endColorstr='#FF84CFE4');
	background-image:
		url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZjFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg0Y2ZlNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4f1fa),
		color-stop(100%, #84cfe4));
	background-image: -webkit-linear-gradient(#d4f1fa, #84cfe4);
	background-image: -moz-linear-gradient(#d4f1fa, #84cfe4);
	background-image: -o-linear-gradient(#d4f1fa, #84cfe4);
	background-image: linear-gradient(#d4f1fa, #84cfe4);
}
/* line 137, ../sass/base.sass */
#main .block-login {
	position: absolute;
	top: -30px;
	left: 35%;
	width: 280px;
	height: 272px;
	padding: 35px;
	box-shadow: 1px 4px 4px #a1bfc9;
	background: white;
}
/* line 146, ../sass/base.sass */
#main .block-login h1 {
	color: #363636;
	font: bold 22px "arial";
}
/* line 149, ../sass/base.sass */
#main .block-login label {
	display: block;
	padding: 20px 0;
	color: #333333;
	font: normal 12px "arial";
}
/* line 154, ../sass/base.sass */
#main .block-login input[type="text"] {
	width: 265px;
	height: 29px;
	padding-left: 5px;
	border: 0;
	background: url(../images/bg_input_text.png) 0 0 no-repeat;
}
/* line 160, ../sass/base.sass */
#main .block-login input[type="password"] {
	width: 270px;
	height: 29px;
	padding-left: 5px;
	border: 0;
	background: url(../images/bg_input_text.png) 0 0 no-repeat;
}
/* line 166, ../sass/base.sass */
#main .block-login input[type="submit"] {
	width: 200px;
	height: 40px;
	margin: 30px 0 0 30px;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #333333;
	font: normal 14px "arial";
	text-transform: uppercase;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#FFF4F4F6', endColorstr='#FFE6E7E8');
	background-image:
		url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTdlOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f6),
		color-stop(100%, #e6e7e8));
	background-image: -webkit-linear-gradient(#f4f4f6, #e6e7e8);
	background-image: -moz-linear-gradient(#f4f4f6, #e6e7e8);
	background-image: -o-linear-gradient(#f4f4f6, #e6e7e8);
	background-image: linear-gradient(#f4f4f6, #e6e7e8);
}
/* line 178, ../sass/base.sass */
#main .block-login input[type="submit"]:hover {
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#FFE6E7E8', endColorstr='#FFF4F4F6');
	background-image:
		url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTdlOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e7e8),
		color-stop(100%, #f4f4f6));
	background-image: -webkit-linear-gradient(#e6e7e8, #f4f4f6);
	background-image: -moz-linear-gradient(#e6e7e8, #f4f4f6);
	background-image: -o-linear-gradient(#e6e7e8, #f4f4f6);
	background-image: linear-gradient(#e6e7e8, #f4f4f6);
}

/*** MAIN ***/
#main .padding-page {
	border-radius: 0;
	background: #FFF;
}

#main #conteneurPage .ui-widget-content {
	padding: 0;
	border: 0;
	border-radius: 0;
	background: none;
}

/* line 182, ../sass/base.sass */
#main #bodyGeneral-panel_content {
	padding: 0;
}

#main #conteneurPage .bdnaPanel, #main #conteneurPage.conteneurParametres form#parametres_form table, #main .conteneurGestionActualites {
	width: 95%;
	margin: 0 0 16px 0;
	padding: 5px 10px;
	border: 1px solid #d7d7d7;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD4F1FA', endColorstr='#FF84CFE4');
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlY2ZkMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaed), color-stop(100%, #cecfd2));
	background-image: -webkit-linear-gradient(#eaeaed, #cecfd2);
	background-image: -moz-linear-gradient(#eaeaed, #cecfd2);
	background-image: -o-linear-gradient(#eaeaed, #cecfd2);
	background-image: linear-gradient(#eaeaed, #cecfd2);
}

#main #conteneurPage input[type="submit"].bouttonStandardBdna {
	width: 300px;
}

#main #conteneurPage form#parametres_form table tbody tr {
	width: 100%;
	text-align: center;
}

#main #conteneurPage h2 {
	margin: 0 0 10px 0;
	padding: 17px 10px;
	font: bold 16px arial;
	color: #363636;
	background: #fff;
}

#main #conteneurPage h3 {
	margin: 0 0 5px 0;
	padding: 5px 10px;
	font: bold 14px arial;
	color: #363636;
	background: #fff;
}

#main #conteneurPage .ui-editor {
	border: 0;
}

#main #conteneurPage .ui-editor-toolbar {
	background: none;
}

#main #conteneurPage form table tbody tr {
	display: table;
	margin: 0 0 15px 0;
}

#main #conteneurPage form#formFicheSynthese table.synthese_dossier_grid tbody tr {
	margin: 0;
}

#main #conteneurPage .item_label {
	display: table-cell;
	width: 200px;
	padding: 0 10px 0 0;
	vertical-align: middle;
}

#main #conteneurPage .item_synthese {
	display: table-cell;
	width: 300px;
	padding: 0 10px 0 0;
	vertical-align: middle;
}

#main #conteneurPage .item_separator {
	display: table-cell;
	width: 50px;
	padding: 0 10px 0 0;
	vertical-align: middle;
}

#main #conteneurPage input[type="text"], #main #conteneurPage input[type="password"] {
	width: 261px;
	height: 22px;
	padding-left: 5px;
	border: 0;
	background: url(../images/bg_input_text.png) 0 0 no-repeat;
}

#main #conteneurPage select { width: 267px; height: 30px;}

#main #conteneurPage input[type="submit"], #main #conteneurPage button {
	padding: 5px 0;
	vertical-align: top;
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #333333;
	font: normal 14px "arial";
	text-transform: uppercase;
	*zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#FFF4F4F6', endColorstr='#FFE6E7E8');
	background-image:
		url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTdlOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f6),
		color-stop(100%, #e6e7e8));
	background-image: -webkit-linear-gradient(#f4f4f6, #e6e7e8);
	background-image: -moz-linear-gradient(#f4f4f6, #e6e7e8);
	background-image: -o-linear-gradient(#f4f4f6, #e6e7e8);
	background-image: linear-gradient(#f4f4f6, #e6e7e8);
}

#main #conteneurPage input[type="submit"]:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,
		startColorstr='#FFE6E7E8', endColorstr='#FFF4F4F6');
	background-image:
		url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTdlOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e7e8),
		color-stop(100%, #f4f4f6));
	background-image: -webkit-linear-gradient(#e6e7e8, #f4f4f6);
	background-image: -moz-linear-gradient(#e6e7e8, #f4f4f6);
	background-image: -o-linear-gradient(#e6e7e8, #f4f4f6);
	background-image: linear-gradient(#e6e7e8, #f4f4f6);
}


/*** Accueil ***/
#main .conteneurAccueil input[type="submit"], #main .conteneurGestionActualites input[type="submit"] { 
	margin: 10px 5px 0 0;
}

/** DOSSIERS ***/
#main .conteneurDossiers span.ui-widget-header {
	text-shadow: none;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	background: none;
}

#main .conteneurDossiers .ui-toolbar-group-right {
	float: left;
}

#main .conteneurDossiers .topmenu_button {
	
}

#main .conteneurDossiers .navigation_dossier {
	display: inline-block;
}

#main .conteneurDossiers .conteneur_page_dossier {
	display: inline-block;
	vertical-align: top;
	width: 680px;
	margin: 0 0 0 12px;
}
	/*** Navigation Dossier ***/
#main .conteneurDossiers .navigation_dossier form { 
	width: 207px;
	border: 1px solid #d7d7d7;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f4f4f6', endColorstr='#e6e7e8');
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlY2ZkMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f6), color-stop(100%, #e6e7e8));
	background-image: -webkit-linear-gradient(#f4f4f6, #e6e7e8);
	background-image: -moz-linear-gradient(#f4f4f6, #e6e7e8);
	background-image: -o-linear-gradient(#f4f4f6, #e6e7e8);
	background-image: linear-gradient(#f4f4f6, #e6e7e8);
}
#main .conteneurDossiers #bandeauMenu_dossier_form > div {
	width: auto;
	background: none;
}
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul { margin: 0; padding: 0;}
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li { margin: 0;  }
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li div { margin: 0; box-shadow: none; }
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li > div { width: 100%; height: 25px; margin: 0 0 5px 0; padding: 5px 0 0 10px; box-shadow: none; }
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li a { display: inline; vertical-align: top; padding: 2px 0 0 0; font: normal 11px arial; color: #363636; text-shadow: none; border: 0; background: none;}

#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li:hover > div, #main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li.noeudSelectionne > div { background: url(../images/bg_bandeau.png) 0 0 no-repeat;}
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li:hover a { color: #000; }

#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li > div > span { width: 90%; padding: 0 0 5px 0; border-bottom: 1px solid #bebebe; border-radius: 0;}
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li:first-child > div > span { padding: 0 0 2px 0; }

#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li span { margin: 0; padding: 0; }
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li ul li { margin: 0 0 0 5px; padding: 8px 0 5px 5px; }
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li ul li:hover { background: url(../images/bg_bandeau.png) right 0 no-repeat; }
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li ul li ul li { margin: 0; padding: 8px 0 5px 1px; }
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li ul li span >span.ui-tree-node-label {width: 150px;}
#main .conteneurDossiers #bandeauMenu_dossier_form > div > ul > li span img { margin: 0 5px 0 0;}


	/*** Tableau ***/
#main #conteneurPage.conteneurDossiers form table { border: 0; }
#main #conteneurPage.conteneurDossiers form table tr td { border: 0;}
#main #conteneurPage.conteneurDossiers .ui-panelgrid td { padding: 0; }

#main #conteneurPage.conteneurDossiers .item_label { width: 200px;}
#main #conteneurPage.conteneurDossiers input[type="text"], #main #conteneurPage input[type="password"] { width: 200px;}
#main #conteneurPage.conteneurDossiers select { width: 200px; height: 30px;}
#main #conteneurPage.conteneurDossiers input[type="submit"], #main #conteneurPage.conteneurDossiers button { margin: 5px 0; vertical-align: top;}

#main .conteneurDossiers #bandeauMenu_dossier_form button { width: 170px; margin: 5px 7px;}

/*** Annuaires ***/
#main .conteneurAnnuaire input[type="submit"] { display: block;}

/*** Notifications ***/
.ui-growl .ui-growl-item-container { color: #000; text-shadow: none; border: 1px solid #FFFFFF; background: #7DC5DA; }
.ui-state-highlight .ui-icon { background: url("../images/tree-icons/8arret.png") 0 0 no-repeat !important;}
.ui-growl .ui-growl-item-container .ui-growl-image { background: url("../images/tree-icons/notifications.png") 0 0 no-repeat; }
.ui-growl .ui-growl-item-container .ui-growl-message p { background: #7DC5DA;}

/** pop up ** */
#main #conteneurPage #popup_liste_historique_adresses .ui-confirm-dialog {
	padding: 5px;
}

#main #conteneurPage #popup_liste_historique_adresses .ui-confirm-dialog .ui-confirm-dialog-severity {
	margin: 0 7px 20px 0;
}

#main #conteneurPage #popup_liste_historique_adresses table tbody tr {
	display: table-row;
	text-align: center;
}

#main #conteneurPage #popup_liste_historique_adresses table tbody tr td {
	border: 1px solid #a8a8a8;
}

/** FOOTER ** */
/* line 187, ../sass/base.sass */
#footer {
	height: 48px;
	border-top: 1px solid white;
	color: white;
	background: black;
}
/* line 192, ../sass/base.sass */
#footer table {
	padding: 15px 10px 0 10px;
	font-size: 12px;
	font-weight: bold;
}
/* line 198, ../sass/base.sass */
#footer table tbody tr td {
	width: 50%;
}

#footer table tbody tr td a {
	color: #FFF;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#nav .ui-button.ui-button-home {
		height: 15px;
	}
}